on init
    symlink /product/vendor_overlay/30/lib/modules/wlan.ko /product/vendor_overlay/30/lib/modules/pronto_wlan.ko
    mount none /system/etc/a2dp_audio_policy_configuration.xml /vendor/etc/a2dp_audio_policy_configuration.xml bind

